@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 153 38% 95%;
    --foreground: 153 5% 0%;
    --card: 153 38% 90%;
    --card-foreground: 153 5% 10%;
    --popover: 153 38% 95%;
    --popover-foreground: 153 95% 0%;
    --primary: 153 52% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 153 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 115 30% 85%;
    --muted-foreground: 153 5% 35%;
    --accent: 115 30% 80%;
    --accent-foreground: 153 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 153 5% 90%;
    --border: 153 30% 50%;
    --input: 153 30% 18%;
    --ring: 153 52% 42%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 153 38% 5%;
    --foreground: 153 5% 90%;
    --card: 153 38% 0%;
    --card-foreground: 153 5% 90%;
    --popover: 153 38% 5%;
    --popover-foreground: 153 5% 90%;
    --primary: 153 52% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 153 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 115 30% 15%;
    --muted-foreground: 153 5% 60%;
    --accent: 115 30% 15%;
    --accent-foreground: 153 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 153 5% 90%;
    --border: 153 30% 18%;
    --input: 153 30% 18%;
    --ring: 153 52% 42%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
